@model IEnumerable<MyModel>
@{
    ViewData["Title"] = "MyModel";
}
<h1 class="font-weight-light font-italic text-uppercase">MyModel</h1>
<a asp-action="Create" asp-controller="MyModel" class="btn btn-primary text-light font-weight-bold">
    <i class="fa-solid fa-plus"></i></a>
@if (Model.Count() > 0)
{
    <table style="width:100%" class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr class="table-info">
                <th>MyModel Name</th>
                <th>Number</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td width="50%">@item.Name</td>
                    <td width="30%">@item.Number</td>
                    <td width="20%">
                        <a asp-route-Id="@item.Id" asp-controller="MyModel" asp-action="Edit" 
                           class="btn bg-dark text-light font-weight-bold"><i class="fa-regular fa-pen-to-square"></i></a>
                        <a asp-route-Id="@item.Id" asp-controller="MyModel" asp-action="Delete"
                           class="btn btn-danger text-light font-weight-bold"><i class="fa-sharp fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
