<div>
    <div>
        <em><h1>Query</h1></em>
    </div>
    <table id="myTable" class="table table-bordered table-striped table-dark table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/query.js"></script>
}